*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
li{
    list-style: none;
}
.d-flex{
    display: flex;
}

.color{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#249687 0px,#249687 15vh,#DADBD4 15vh, #DADBD4 100%);
    overflow: hidden;
}
.container{
    width: 80%;
    height: 90vh;
    margin: auto;
    
}

.nav{
    height: 100%;
    width: 40%;
    background-color: #fafafa; 
}

/* il mio utente */
.tab{
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;   
}
.profile-img{
    align-items: center;
}
.userName{
    margin-left: .3em ;
}
.profile-img img{
    width: 50px;
    margin-left: 1em;
    border-radius: 50%;
}

.icon-box i{
    margin-right: .7em;
    cursor: pointer;
    color: #b1b1b1;
} 

/* il mio utente*/
/* notifiche */
.notification{
    height: 70px;
    align-items: center;
    background-color: #8edafc;  
}

.bell-icon{
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0em 0.5em 0 1em;
}
.bell-icon i{
    color: #8edafc;
    margin: auto;
    font-size: 1.3em;
}
.text-notification h4{
    font-size: .7em;
}
.text-notification span{
    font-size: .7em;
    text-decoration: underline;
    color: #6aa1ba;
}
/* notifiche */
/* barra di ricerca */
.search-bar{
    height: 50px;
}
.bar{
    background-color: white;
    width: 95%;
    height: 80%;
    margin: auto;
    border: 1px solid lightgrey;
    align-items: center;

}
.bar i{
    color:#b1b1b1;
    margin: 0 1.6em;
}
.bar input{
    width: 70%;
    height: 70%;
    border: none;
}
/* barra di ricerca */
/* lista delle chat */
.chat-list{
    height: 100%;
}
.chat-tab{
    background-color: white;
    width: 95%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgrey;
}
.text-chat{
    margin-left: .5em;
}
.text-chat span{
    font-size: .7em;
    color: #b6b9bb;
}
.date{
    align-self: flex-start;
    margin-right: .5em;
}
.date span{
    font-size: .7em;
    color: #b6b9bb;
}
/* lista delle chat */

/* main */
.main{
    height: 100%;
    width: 60%;
    /* background-color: blue;  */
}
.profile-header{
    height: 70px;
    width: 100%;
}
.main-chat{
    height: calc(100% - 140px);
    width: 100%;
    background-image: url("../img/mine.jpg");
    background-color: #cccccc;
}
.write-message{
    height: 70px;
    width: 100%;
    background-color: white;
    
}
.text-header-main span{
    color: #b6b9bb;
    font-size: .7em;
}
/* main */

